
@font-face {
  font-family: spark-icon-family;      
  src: url('../fonts/spark-icon-family-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: AvenirNextLTPro-Demi;      
  src: url('../fonts/avenirnextltpro-demi-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: AvenirNextLTPro-Medium;      
  src: url('../fonts/avenirnextltpro-medium-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: AvenirNextLTPro-Bold;      
  src: url('../fonts/avenirnextltpro-bold-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
